{% extends 'gestion_bodegas/base.html' %}

{% block content %}
    <h1>Lista de Zonas</h1>
    <a href="{% url 'crear_zona' %}">Crear Nueva Zona</a>
    <ul>
        {% for zona in zonas %}
            <li>
                {{ zona.nombre }} (Bodega: {{ zona.bodega.nombre }})
                <a href="{% url 'editar_zona' zona.pk %}">Editar</a>
                <a href="{% url 'eliminar_zona' zona.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay zonas registradas.</li>
        {% endfor %}
    </ul>
    <h1>Lista de Niveles</h1>
    <a href="{% url 'crear_nivel' %}">Crear Nuevo Nivel</a>
    <ul>
        {% for nivel in niveles %}
            <li>
                {{ nivel.nombre }} (Estantería: {{ nivel.estanteria.nombre }})
                <a href="{% url 'editar_nivel' nivel.pk %}">Editar</a>
                <a href="{% url 'eliminar_nivel' nivel.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay niveles registrados.</li>
        {% endfor %}
    </ul>
    <h1>Lista de Estanterías</h1>
    <a href="{% url 'crear_estanteria' %}">Crear Nueva Estantería</a>
    <ul>
        {% for estanteria in estanterias %}
            <li>
                {{ estanteria.nombre }} (Zona: {{ estanteria.zona.nombre }})
                <a href="{% url 'editar_estanteria' estanteria.pk %}">Editar</a>
                <a href="{% url 'eliminar_estanteria' estanteria.pk %}">Eliminar</a>
            </li>
        {% empty %}
            <li>No hay estanterías registradas.</li>
        {% endfor %}
    </ul>
{% endblock %}